.single-photo {
    max-width: 1024px;
    max-height: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    padding-top: 75px;
    padding-bottom: 25px;
    /* z-index: 2; */
    justify-content: center;
    align-items: center;
}

/* 33, 33, 36 */

.photo-background {
    background-color: rgb(33, 33, 36);
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

}

.photo-info-box {
    max-width: 500px;
    overflow: auto;

}

.single-photo-main-box {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* display: flex;
    flex-direction: row; */

}

.delete-photo-button {
    width: 200px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(18, 143, 220);
    color: white;
    margin-top: 5px;
}

.submitButton {
    width: 200px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(18, 143, 220);
    color: white;
    margin-top: 5px;
}

/* .comments {
    position: relative;
    left: 550px;
    bottom: 25vh;
    width: 500px;
} */



.edit-delete-main {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* position: relative; */


}

.editInput {
    width: 100%;
    overflow: visible;
    height: 100%;

}

.edit-box-div {
    display: flex;

}

textarea.editInput {
    height: 125px;
    overflow-y: hidden;
}
